@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

@font-face {
	font-family: 'Roboto'; 
	src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap); 
}

:root{
  --mainA-color: rgb(3, 158, 245);
  --LightA-color: rgb(3, 168, 245);
  --mainB-color: rgb(243, 247, 250);
  --mainC-color: rgb(224, 231, 235);
  --mainCHover-color: rgb(214, 219, 221);
  --backgrounBody-color: rgb(193, 222, 255);
  --slayder-color: #ccc;
  --mainText-color: rgb(243, 247, 250);
  --Text2-Color: black;
  --TimeChange1: 0.2s;
  --TimeChangeSlider: 0.4s;
  --ColorSostaAndSoy: #7f7f7f;
  --ColorWindowSaleSum: rgb(224, 231, 235);
  --ScrollBarBackGround: #dcdcdc;
  --ScrollBarThumb: #a3a3a3;
  --ScrollBarThumbHover: #7e7e7e;
  --ColorHoverDeleteAndCancel: rgba(255, 210, 210, 0.123);
  --WidhtMainMenu: 50px;
  --DarkA-Color: rgb(3, 100, 245);
  --DarkB-Color: rgb(3, 100, 245);
  --HeadOrderColor: rgb(224, 231, 235);
  --ColorStatusNewOrderSaved: #ff00004f;
  --ColorStatusProcessingOrderSaved: #ff00994f;
  --ColorStatusNotProcessingOrderSaved: #4545454f;
  --ColorStatusTimeoutOrderSaved: #6038ff4f;
  --ColorStatusCookingOrderSaved: #38f2ff4f;
  --ColorStatusCookedOrderSaved: #3bff384f;
  --ColorStatusDeliveryOrderSaved: #fcff384f;
  --ColorStatusCompletedOrderSaved: #53ff3817;
  --ColorStatusCancelledOrderSaved: #21212188;
  --ColorStatusCancelledOrderSavedText: #f3f7fa;
  --ColorMarkYa: #03a8f5;
  --SavedOrdDeletedWindowButtonCancelColorHover: #cbd2d6;
  --SavedOrdDeletedWindowButtonDeleteColorHover: #ff000073;
}

body {
    background-color: var(--backgrounBody-color, rgb(193, 222, 255));
    overflow  : hidden;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
    
}
.GlobalDiv{
  display: flex;
  width: 100%;
}

.MainDiv {
    margin-left: 50px;
    font-family: "Roboto";
    font-size: 12pt;
    display: flex;
    width: 100%;    
    gap: 10px;
    
}

.MainDivStopList {
    margin-left: 50px;
    font-family: "Roboto";
    font-size: 12pt;
    display: flex;
    width: 98vw;    
    height: 100vh;
    gap: 10px;

}


.SavedOrdersMainDiv {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 50px;
  font-family: "Roboto";
  font-size: 12pt;
  display: flex;
  max-width: 98vw;    
  height: 98vh;
  gap: 10px;
  background-color: var(--mainB-color, rgb(243, 247, 250));
  
}


.StopListDiv{
  width: 100%;    
  height: 100%;
  background-color: var(--mainB-color, rgb(243, 247, 250));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;      
  
}

.MainOrder {
    background-color: var(--mainB-color, rgb(243, 247, 250));
    width: 30%;
    min-height: 100vh;
    max-height: 100vh;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;    
}

.OrderOrder{
    color: var(--Text2-Color, black);
    min-height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrderTit {
    font-size: 10pt;
    color: var(--mainText-color, rgb(243, 247, 250));
    background-color: var(--LightA-color, rgb(3, 168, 245));
    width: 100%;
    height: 30px;
    border-bottom: solid 2px rgb(92, 92, 92);
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrderTitTable{
  height: 100%;
}

.OrderTitName{
    width: 50%;
}

.OrderTitEditNum {
    width: 5%;
}

.OrderTitNum {
    width: 15%;
}

.OrderTitPrice {
    width: 15%;
}

.OrderTitSum {
    width: 30%;
}

  
.MainDetal {
    background-color: var(--mainB-color, rgb(243, 247, 250));
    color: var(--Text2-Color, black);
    width: 20%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}


.MainCateg {
    background-color:var(--mainB-color, rgb(243, 247, 250));
    width: 10%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.CatButton.active {
  background-color: var(--LightA-color, rgb(3, 168, 245));
  color: var(--mainText-color, rgb(243, 247, 250));
}

.CatButton:hover{
    background-color: var(--LightA-color, rgb(3, 168, 245));
    color: var(--mainText-color, rgb(243, 247, 250));
}

.CatButton {    
    cursor: pointer;
    background-color: var(--mainC-color, rgb(224, 231, 235));
    color: var(--Text2-Color, black);
    margin-left: 5%;
    margin-top: 8px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.MainPosition {
    background-color: var(--mainB-color, rgb(243, 247, 250));
    width: 40%;
    height: 100vh;
    transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slayder-color, #ccc);
    transition: var(--TimeChangeSlider, 0.4s);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 3px;
    background-color: var(--mainB-color, rgb(243, 247, 250));
    transition: var(--TimeChangeSlider, 0.4s);
  }
  
  input:checked + .slider {
    background-color: var(--LightA-color, rgb(3, 168, 245));
  }
  
  
  input:checked + .slider:before {  
    transform: translateX(18px);
  }
  
  
  .slider.round {
    border-radius: 22px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .PosTitle {
    font-family: "Roboto";
    border-bottom: 1px solid grey;
  }

  .BPos {
    
    font-family: "Roboto";
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
  }

  .titleText{
    color: var(--Text2-Color, black);
    transition: color var(--TimeChange1, 0.2s) ease-in-out;
  }

.PosButtonsclass {
  cursor: pointer;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  margin-top: 10px;
  margin-left: 10px;
  width: 130px;
  height: 50px;
  font-size: 9pt;  
  border-radius: 10px;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.PosButtonsclass:hover {
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--mainCHover-color, rgb(214, 219, 221)) ;
}

.PosButtonsclassPizza {
  cursor: pointer;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  margin-top: 10px;
  margin-left: 10px;
  width: 130px;
  height: 50px;
  font-size: 9pt;  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.PosButtonsclassPizza:hover {
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--mainCHover-color, rgb(214, 219, 221));
}

.PosButtonsclassPizzaChangeDiamDiv{
  position: relative;
  bottom: 4px;
  margin-left: 7px;
  width: 130px;
  height: 20px;
}

.PosButtonsclassPizzaChangeDiamTable{
  height: 100%;
  width: 100%;
}

.PosButtonsclassPizzaChangeDiamTd{
  height: 100%;
  width: 100%;
  display: flex;
}

.PosButtonsclassPizzaChangeDiam30{
  cursor: pointer;
  width: 65px;
  height: 20px;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.PosButtonsclassPizzaChangeDiam30:hover{
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--mainCHover-color, rgb(214, 219, 221));
}

.PosButtonsclassPizzaChangeDiam30.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}

.PosButtonsclassPizzaChangeDiam36{
  cursor: pointer;
  width: 65px;
  height: 20px;
  border-top: none;
  border-bottom-right-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.PosButtonsclassPizzaChangeDiam36:hover{
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--mainCHover-color, rgb(214, 219, 221));
}

.PosButtonsclassPizzaChangeDiam36.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}

.PizzaChangeDiamOnOrderTd{
  height: 25px;
  width: 70px;
  display: flex;
}

.PizzaChangeDiamOnOrderButton30{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid black;
  border-right: none;
  width: 50%;
  font-size: 8pt;
}

.PizzaChangeDiamOnOrderButton30:hover{
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
}

.PizzaChangeDiamOnOrderButton30.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}

.PizzaChangeDiamOnOrderButton36{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid black;
  width: 50%;
  font-size: 8pt;
}

.PizzaChangeDiamOnOrderButton36:hover{
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
}

.PizzaChangeDiamOnOrderButton36.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}

.PodCatButtonWOK.unactive {
  background-color: var(--slayder-color, #ccc);
}

.unactive {
    background-color: var(--slayder-color, #ccc);
  }

.unactive:hover{
  background-color: var(--slayder-color, #ccc);
}

.ButtonPName {
  width: 100%;
  max-height: 65%;
  overflow: hidden;
}

.ChangerDiamPizza{
  background-color: red;
  width: 100px;
  height: 100px;
}
  
.OrdPosSouse {
  color: var(--ColorSostaAndSoy, #7f7f7f);
  font-size: 7pt;
  width: 45%;
  margin-left: 10px;
  transition: color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdTB {
  margin-top: 10px;
  font-size: 9pt;  
  border-bottom: 1px dashed grey;    
}

.OrdPosName{
    width: 50%;
}

.OrdPosEdit {
    width: 5%;
}

.OrdPosNum {
    width: 5%;
}

.OrdPosPrice {
    width: 15%;
    text-align: end;
}

.OrdPosSum {
    width: 30%;
    text-align: end;
}

.OrdPosInp {
  color: var(--Text2-Color, black);
  width: 60%; 
  background-color: var(--mainB-color, rgb(243, 247, 250));
  border: solid 1px var(--LightA-color, rgb(3, 168, 245));
  outline: none;
  transition: border var(--TimeChange1, 0.2s), background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}


.OrdButtonEditPlus {
  color: var(--mainB-color, rgb(243, 247, 250));
  border: none;
  background-color: var(--LightA-color, rgb(3, 168, 245));
  font-family: "Roboto";
  text-align: center;
  margin-top: 2px;
  width: 70%;
  height: 100%;
  font-size: 9pt;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdButtonEditMinus {
  color: var(--mainB-color, rgb(243, 247, 250));
  border: none;
  background-color: var(--LightA-color, rgb(3, 168, 245));
  font-family: "Roboto";
  text-align: center;
  margin-top: 2px;
  width: 70%;
  height: 100%;
  font-size: 9pt;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ButtonPositions {
  display: flex;
  flex-wrap: wrap;
}




.editdiam {
  position: relative;
  left: 5px;
  display: inline-block;
  width: 38px; 
  height: 20px;
}



.editdiamslide {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slayder-color, #ccc);
  transition: var(--TimeChangeSlider, 0.4s);
}

.editdiamslide:before {
  z-index: 1;
  position: absolute;
  content: "";
  height: 12px;
  width: 19px;
  left: 2px;
  bottom: 4px;
  background-color: var(--mainB-color, rgb(243, 247, 250));
  transition: var(--TimeChangeSlider, 0.4s);
}

input:checked + .editdiamslide {
  background-color: var(--LightA-color, rgb(3, 168, 245));
}


input:checked + .editdiamslide:before {  
  transform: translateX(15px);
}


.editdiamslide.round {
  border-radius: 22px;
}

.editdiamslide.round:before {
  border-radius: 50%;
}

.OpenDobPizza {
  margin-left: 10px;
  color: var(--mainB-color, rgb(243, 247, 250));
  border: none;
  background-color: var(--LightA-color, rgb(3, 168, 245));
  font-family: "Roboto";
  text-align: center;
  margin-top: 2px;
  font-size: 9pt;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OpenDobPizza:hover {
  color: var(--mainC-color, rgb(224, 231, 235));
  background-color: var(--mainA-color, rgb(3, 158, 245));
}


.DobPizzaMain {
  position: relative;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px;
  font-size: 8pt;
  max-width: 100%;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdSost{
  position: relative;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  border: solid 1px gray;
  color: var(--ColorSostaAndSoy, #7f7f7f);
  border-radius: 5px;
  padding: 5px;
  font-size: 8pt;
  max-width: 100%;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.PositionsWOKDob{
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
}

.PodCatButtons{
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.PodCatButton{
  background-color: var(--mainC-color, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  border-radius: 10px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  font-size: 7pt;
  width: 80px;
  height: 35px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.PodCatButton.unactive {
  background-color: var(--slayder-color, #ccc);
}

.DobPizza {
  margin-left: 20px;
  margin-right: 20px;
}

.OrdDobTB {
  font-size: 9pt;
  width: 100%;
}


.OrdDobName{
  width: 50%;
}

.OrdDobEdit {
  width: 5%;
}

.OrdDobNum {
  width: 5%;
}

.OrdDobPrice {
  width: 15%;
  text-align: end;
}

.OrdDobSum {
  width: 30%;
  text-align: end;
}

.OrdDobInp {
width: 60%;
color: var(--Text2-Color, black);
background-color: var(--mainB-color, rgb(243, 247, 250));
border: solid 1px var(--LightA-color, rgb(3, 168, 245));
outline: none;
transition: border var(--TimeChange1, 0.2s), background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out, outline var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdDobButtonEditPlus {
color: var(--mainB-color, rgb(243, 247, 250));
border: none;
background-color: var(--LightA-color, rgb(3, 168, 245));
font-family: "Roboto";
text-align: center;
margin-top: 2px;
width: 70%;
height: 100%;
font-size: 9pt;
transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdDobButtonEditMinus {
color: var(--mainB-color, rgb(243, 247, 250));
border: none;
background-color: var(--LightA-color, rgb(3, 168, 245));
font-family: "Roboto";
text-align: center;
margin-top: 2px;
width: 70%;
height: 100%;
font-size: 9pt;
transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.SwitchPos {
  display: flex;

  
}

.switchPosLabel {
  margin-top: 5px;
  left: 35%;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}


.DobWOKMain {
  position: relative;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  font-size: 8pt;
  max-width: 100%;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OpenDobWOK {
  margin-left: 10px;
  color: var(--mainB-color, rgb(243, 247, 250));
  border: none;
  background-color: var(--LightA-color, rgb(3, 168, 245));
  font-family: "Roboto";
  text-align: center;
  margin-top: 2px;
  font-size: 9pt;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OpenDobWOK:hover {
  color: var(--mainC-color, rgb(224, 231, 235));
  background-color: var(--mainA-color, rgb(3, 158, 245));
}

.DobavkiWokButtons {
  display: flex;
}

.DobavkiWOKTitle
{
  
  font-family: "Roboto";
  font-size: 9pt;
}

.PodCatButtonWOK {
  background-color: var(--mainC-color, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 10px;
  font-size: 7pt;
  width: 80px;
  height: 35px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdSostWOKName{
  width: 50%;
}

.OrdSostWOKEdit {
  width: 5%;
}

.OrdSostWOKNum {
  width: 5%;
}

.OrdSostWOKPrice {
  width: 15%;
  text-align: end;
}

.OrdSostWOKSum {
  width: 30%;
  text-align: end;
}

.OrdSostWOKInp {
width: 60%;
color: var(--Text2-Color, black);
background-color: var(--mainB-color, rgb(243, 247, 250));
border: solid 1px var(--LightA-color, rgb(3, 168, 245));
outline: none;
transition: border var(--TimeChange1, 0.2s), background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out, outline var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdSostWOKButtonEditPlus {
color: var(--mainB-color, rgb(243, 247, 250));
border: none;
background-color: var(--LightA-color, rgb(3, 168, 245));
font-family: "Roboto";
text-align: center;
margin-top: 2px;
width: 70%;
height: 100%;
font-size: 9pt;
transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrddSostWOKButtonEditMinus {
color: var(--mainB-color, rgb(243, 247, 250));
border: none;
background-color: var(--LightA-color, rgb(3, 168, 245));
font-family: "Roboto";
text-align: center;
margin-top: 2px;
width: 70%;
height: 100%;
font-size: 9pt;
transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.OrdDownPanel{
  border-top: solid 1px gray;
  width: 100%;
}

.DownPanelButtons {
  display: flex;
  justify-content: space-between;
}

.DownPanelButtonsLeft{
  display: flex;
  position: relative;
  margin-top: 10px;
}

.DownPanelButtonLeft {
  margin-left: 10px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.DownPanelButtonLeftSale{

  margin-left: 10px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--mainC-color, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  font-size: 10pt;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.DownPanelButtonLeftSale.active{
  background-color: var(--LightA-color, rgb(3, 168, 245));
  color: var(--mainText-color, rgb(243, 247, 250));
}

.IconSale {
  color: var(--Text2-Color, black);
  width: 100%;
  height: 100%;
  transition: color var(--TimeChange1, 0.2s) ease-in-out;
}

.IconPrib {
  color: var(--Text2-Color, black);
  width: 100%;
  height: 100%;
  transition: color var(--TimeChange1, 0.2s) ease-in-out;
}

.IconDelete{
  color: var(--Text2-Color, black);
  width: 100%;
  height: 100%;
  transition: color var(--TimeChange1, 0.2s) ease-in-out;
}

.DownPanelButtonRight {
  display: flex;
}

.DownPanelButtonRightDelete {
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.DownPanelButtonRightDelete:hover{
  background-color: var(--ColorHoverDeleteAndCancel, rgba(255, 210, 210, 0.123));
}

.DownPanelButtonRightSave {
  margin-top: 10px;
  margin-right: 10px;
  width: 110px;
  height: 30px;
  border-radius: 10px;
  color: var(--mainText-color, rgb(224, 231, 235));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.DownPanelButtonRightSave:hover {
  color: var(--mainText-color, rgb(224, 231, 235));
  background-color: var(--mainA-color, rgb(3, 158, 245));
}

.TotalSumOrder {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-content: end;
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 12pt;
}

.TotalSoyOrder{
  font-size: 10pt;
  margin-left: 10px;
  color: var(--ColorSostaAndSoy, #7f7f7f);
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}


.TotalSumOrderDownPanel {
  color: var(--Text2-Color, black);
  display: flex;
  width: 98%;
  justify-content: end;
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 12pt;
  transition: color var(--TimeChange1, 0.2s) ease-in-out;
}

.TablewaresButton:hover{
  color: var(--mainText-color, rgb(243, 247, 250)); 
  background-color: var(--LightA-color, rgb(3, 168, 245));
  
}

.TablewaresButton{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  padding: 5px;
  width: 50px;
  height: 25px;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.PopupTableware {
  position: fixed;
  bottom: 58px;
  left: 120px;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 5px;
  border: none;
  padding: 1px;
  font-size: 8pt;
  max-width: 100%;
  max-height: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.PopupSALES{
  position: fixed;
  bottom: 58px;
  left: 70px;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 5px;
  border: none;
  padding: 1px;
  font-size: 8pt;
  max-width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.SaleButton{
  font-size: 9pt;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45px;
  height: 30px;
  background-color: var(--mainC-color, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.SaleButton:hover{
  color: var(--mainText-color, rgb(243, 247, 250)); 
  background-color: var(--LightA-color, rgb(3, 158, 245));
}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--ScrollBarBackGround, #dcdcdc);
  border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--ScrollBarThumb, #a3a3a3);
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ScrollBarThumbHover, #7e7e7e);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start {
  width: 0;
  height: 0;
}


::-webkit-scrollbar-button:vertical:end {/*Нижняя кнопка*/
  width: 0;
  height: 0;
}





.OrdTablewaresTB {
  margin-top: 10px;
  font-size: 9pt;  
  border-bottom: 1px dashed grey;
}

.OrdTablewaresName{
  width: 33em;
}


.OrdTablewaresNum {
  width: 10%;
}

.OrdTablewaresPrice {
  width: 13.3%;
  text-align: end;
}

.OrdTablewaresSum {
  width: 21%;
  text-align: end;
}

.SaleSumWindowMain{
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.SaleSumWindowContent{
  box-shadow: 0px 0px 5px 0px black;
  padding: 10px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--ColorWindowSaleSum, rgb(243, 247, 250)); 
  width: 250px;
  height: 80px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
  border: 1px solid;
  border-color: black;
}

.SaleWindowInp{
  margin-top: 5px; 
  color: black;
  width: 98%;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.SaleWindowButtons{
  display: flex;
  height: 45%;
  align-items: flex-end;
  justify-content: space-between;
}

.ButtonSaleWindowCancel{
  height: 25px;
  width: 70px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--mainC-color, rgb(224, 231, 235));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonSaleWindowCancel:hover{
  background-color: var(--ColorHoverDeleteAndCancel, rgba(255, 210, 210, 0.123));
}

.ButtonSaleWindowOK{
  height: 25px;
  width: 110px;
  border-radius: 10px;
  color: var(--mainText-color, rgb(224, 231, 235));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonSaleWindowOK:hover {
  color: var(--mainText-color, rgb(224, 231, 235));
  background-color: var(--mainA-color, rgb(3, 158, 245));
}





.popup-arrow{
  color: rgb(205, 216, 223);
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.MenuLeftPanel{
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  height: 110vh;
  width: var(--WidhtMainMenu, 50px);
  background-color: black;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  z-index: 2;
}

.ButtonsMenu{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  z-index: 2;
}

.ContentOpenMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.ContentOpenMenu:hover{
  background-color: rgb(17, 17, 17);
}

.TextOpenMenuMenu{
  color: rgb(119, 119, 119);
  font-size: 14pt;
}

.IconOpenMenu{
  transform:rotate(0deg);
  color: var(--mainC-color, rgb(224, 231, 235));
  width: 35px;
  height: 35px;
  transition: transform 0.3s,background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.open {
  color: var(--LightA-color, rgb(3, 168, 245));
  transform:rotate(-180deg);
}

.ContentNewOrderMenu{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContentNewOrderMenu:hover{
  background-color: rgb(17, 17, 17);
}


.TextNewOrderMenu {
  color: rgb(119, 119, 119);
  font-size: 14pt;
}

.IconNewOrder {
  margin-top: 10px;
  color: var(--mainC-color, rgb(224, 231, 235));
  width: 35px;
  height: 35px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ContentStopListMenu{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContentStopListMenu:hover{
  background-color: rgb(17, 17, 17);
}

.TextStopListMenu{
  color: rgb(119, 119, 119);
  font-size: 14pt;
}

.IconStopList{
  margin-top: 10px;
  color: var(--mainC-color, rgb(224, 231, 235));
  width: 35px;
  height: 35px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ContentSavedOrdersMenu{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContentSavedOrdersMenu:hover{
  background-color: rgb(17, 17, 17);
}

.TextSavedOrdersMenu{
  color: rgb(119, 119, 119);
  font-size: 14pt;
}

.IconSavedOrders{
  margin-top: 10px;
  color: var(--mainC-color, rgb(224, 231, 235));
  width: 35px;
  height: 35px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ActivateTabText{
  color: white;
}

.ActivateTab{
  color: var(--LightA-color, rgb(3, 168, 245))
}

.StopListCatName{
  font-size: 12pt;
  width: 100%;
  border-bottom: 1px dashed gray;
  
  color: var(--Text2-Color, black);
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListCatName.Unfind{
  position: absolute;
  top: -100px;
}

.ButtonCatNameStop{
  cursor: pointer;
  border: none;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonCatNameStop.closed {
  color:  var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonCatNameStop.closed:hover {
  color: var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CheckBoxStopCat{
  cursor: pointer;
}

.StopListPositionName{
  display: flex;
  margin-left: 15px;
  font-size: 10pt;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListPositionNameText{
  cursor: pointer;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListPositionNameText:hover{
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CheckBoxStopPosition{
  cursor: pointer;
}


.IconSun{
  margin-top: 10px;
  position: relative;
  width: 35px;
  height: 35px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
}

.ContentChangeThemeMenu{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContentChangeThemeMenu:hover{
  background-color: rgb(17, 17, 17);
}

.TextChangeThemeMenu{
  color: rgb(119, 119, 119);
  font-size: 14pt;
}

.DivStopAlerts{
  position: absolute;
  top: 9px;
  right: 10px;
}

.StopAlertMainDiv{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--ColorWindowSaleSum, rgb(243, 247, 250)); 
  width: 300px;
  height: 20px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
  border: 1px solid;
  border-color: black;
}

.StopAlertMainDiv.active{ 
  animation-name: Alert;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes Alert {
  from {
    right: -400px;
  }
  7%{
    right: 20px;
  }
  10% {
    top: 0px;
    right: 0px;
  }
  90% {
    top: 0px;
    right: 0px;
  }
  91% {
    top: 0px;
    right: 5px;
  }
  to {
    top: 0px;
    right: -400px
  }
}

.StopAlertMainDiv.deleted{ 
  right: -400px;
  animation-name: ClickedAlert;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes ClickedAlert {
  from {
    right: 0px;
    top: 0px
  }
  5% {
    top: 0px;
    right: 5px;
  }
  to {
    top: 0px;
    right: -400px
  }
}

.StopAlertText{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.StopSauceLimitContent{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.StopSauceSumLimitContent{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 8pt;
}

.AlertLastWindowStopPos{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 9pt;
}

.StopAlertLastMainDiv{
  z-index: 1001;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--ColorWindowSaleSum, rgb(243, 247, 250)); 
  width: 300px;
  height: 20px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
  border: 1px solid;
  border-color: black;
}

.StopAlertLastMainDiv.active{ 
  animation-name: Alert;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.StopAlertLastMainDiv.deleted{ 
  right: -400px;
  animation-name: ClickedAlert;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.IconStopCat{
  color: rgb(255, 201, 101);
  height: 20px;
  width: 20px;
}

.StopPositionContent{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 11pt;
}

.IconStopPosition{
  color: rgb(255, 124, 124);
  height: 20px;
  width: 20px;
}

.StopCatContent{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 10.5pt;
}

.CityStop{
  position: relative;
  right: -200px;
}

.City{
  font-size: 12pt;
  font-family: 'Roboto'; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CitySelector{
  margin-top: 2px;
  cursor: pointer;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235)); 
  width: 240px;
  color: var(--Text2-Color, black);
  position: absolute;
  z-index: 2;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CitySelector.OpenCity {
  box-shadow: 0px 0px 3px 0px black;
}

.StopListOnCityUpdate {
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235));
  width: 305px;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--Text2-Color, black);
  position: absolute;
  z-index: 2;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListOnCityUpdate.OpenStop{
  max-height: 300px;
  box-shadow: 0px 0px 3px 0px black;
}

.CityListMain{
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityListMain:hover{
  color: var(--mainText-color, rgb(243, 247, 250));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityName{
  margin-right: 5px;
  width: 70%;
  border: 1px solid var(--LightA-color, rgb(3, 168, 245));
}

.CityName.Allert{
  border: 1px solid var(--SavedOrdDeletedWindowButtonDeleteColorHover, #ff000073);
}

.CityName.OpenCity{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityNameText{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  overflow  : hidden;
}

.CityNameTextMain{
  font-size: 12pt;
  font-weight: 600;
}

.CityNameTextStreet{
  align-items: center;
  font-size: 11pt;
}


.CityNameIconArrow{
  margin-right: 4px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityNameIconArrow.OpenCity{
  transform: rotate(180deg);
  margin-right: 4px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeCity{
  margin-top: 10px;
  margin-left: 10px;
}

.TimeCityTable{
  width: 100%;
}

.TimeCityText{
  width: 70%;
}

.ChangerOrderTypeMainDiv{
  margin-top: 10px;
  margin-left: 10px;
}

.ChangerOrderTypeTable{
  width: 100%;
  height: 40px;
}

.ChangerOrderTypeTdText{
  width: 45%;
}

.ChangerOrderTypeTdButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ChangerOrderTypeTdButtonDelivery{
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  height: 100%;
  width: 70px;
  cursor: pointer;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  border: none;
  box-shadow: 0px 0px 3px 0px black;
}

.ChangerOrderTypeTdButtonDelivery:hover{
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;

}

.ChangerOrderTypeTdButtonDelivery.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}

.ChangerOrderTypeTdButtonTakeaway{
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 100%;
  width: 70px;
  cursor: pointer;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  border: none;
  box-shadow: 0px 0px 3px 0px black;
}

.ChangerOrderTypeTdButtonTakeaway:hover{
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;

}

.ChangerOrderTypeTdButtonTakeaway.Actived{
  color: var(--ColorStatusCancelledOrderSavedText, #f3f7fa);
  background-color: var(--LightA-color, rgb(3, 168, 245));
}


.AddressDetaMainDiv{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.TrTableAddressDetal{
  height: 25px;
}

.AddressDetalText{
  width: 50%;
}

.AddressDetalInp{
  border-radius: 5px;
  color: var(--Text2-Color, black);
  background-color: var(--mainB-color, rgb(243, 247, 250));
  border: solid 1px var(--LightA-color, rgb(3, 168, 245));
  outline: none;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.AddressDetalInp:focus{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.AddressDetalInp.Allert{
  border: 1px solid var(--SavedOrdDeletedWindowButtonDeleteColorHover, #ff000073);
}


.AddressDetalInp.Entrance{
  width: 30px;
}

.AddressDetalInp.Floor{
  width: 30px;
}

.AddressDetalInp.Flat{
  width: 30px;
}

.AddressDetalInp.Comment{
  margin-top: 5px;
  max-width: 170px;
  min-width: 170px;
  min-height: 50px;
  max-height: 100px;
}


.TimeDeliveryStopListMain{
  cursor: pointer;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Text2-Color, black);
  border: 1px solid var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeDeliveryStopListMain.OpenDrop{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}


.TimeDeliveryStopList{
  margin-left: 3px;
}

.TimeDeliveryStopListIcon{
  margin-right: 4px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeDeliveryStopListIcon.OpenDrop{
  transform: rotate(180deg);
  margin-right: 4px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityDeliveryTime{
  padding: 3px;
  cursor: pointer;
  color: var(--Text2-Color, black);
}

.CityDeliveryTime:hover{
  color: var(--mainText-color, rgb(243, 247, 250));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeTakeAwayStopListMain{
  cursor: pointer;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Text2-Color, black);
  border: 1px solid var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeTakeAwayStopListMain.OpenDrop{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeeTakeAwayStopList{
  margin-left: 3px;
}

.TimeeTakeAwayStopListIcon{
  margin-right: 4px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeeTakeAwayStopListIcon.OpenDrop{
  transform: rotate(180deg);
  margin-right: 4px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.TimeDeliverySelector{
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235)); 
  color: var(--Text2-Color, black);
  width: 62px;
  position: absolute;
}

.TimeDeliverySelector.OpenDrop{
  box-shadow: 0px 0px 3px 0px black;
}

.TimeTakeawaySelector{
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235)); 
  color: var(--Text2-Color, black);
  width: 62px;
  position: absolute;
}

.TimeTakeawaySelector.OpenDrop{
  box-shadow: 0px 0px 3px 0px black;
}

.StopListCity{
  display: flex;
  font-size: 12pt;
  height: 50px;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed gray;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListCityTable{
  font-weight: 300;
  padding-top: 5px;
  color: var(--mainText-color, rgb(243, 247, 250));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px dashed gray;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonResetTimeOneCity{
  cursor: pointer;
  background-color: var(--mainC-color, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  box-shadow: 0px 0px 3px 0px black;
  border: none;
  border-radius: 5px;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ButtonResetTimeOneCity:hover{
  background-color: var(--LightA-color, rgb(3, 168, 245));
  color: var(--mainText-color, rgb(243, 247, 250));
  transition: all ease-in-out;
}

.CityConditionMainDiv{
  font-size: 12pt;
  cursor: pointer;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Text2-Color, black);
  border: 1px solid var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityConditionMainDiv.OpenDrop{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ConditionSelector{
  cursor: pointer;
  width: 252px;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235)); 
  color: var(--Text2-Color, black);
  position: absolute;
}

.ConditionSelector.OpenDrop{
  box-shadow: 0px 0px 3px 0px black;
}


.ConditionStopListCity{
  padding: 3px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ConditionStopListCity:hover{
  color: var(--mainText-color, rgb(243, 247, 250));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ConditionStopListText{
  margin-left: 5px;
}

.CityConditionIcon{
  margin-right: 4px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.CityConditionIcon.OpenDrop{
  transform: rotate(180deg);
  margin-right: 4px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.InputStopListCity{
  cursor: pointer;
  height: 17px;
  width: 300px;
  color: var(--Text2-Color, black);
  background-color: var(--mainB-color, rgb(243, 247, 250));
  border: solid 1px var(--LightA-color, rgb(3, 168, 245));
  outline: none;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.InputStopListCity.OpenDrop{
  border: 1px solid var(--DarkA-Color, rgb(3, 100, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.InputStopListCityDiv{
  display: flex;
  align-items: center;
}

.InputStopListCityIcon{
  cursor: pointer;
  position: relative;
  right: 20px;
  color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.InputStopListCityIcon.OpenDrop{
  transform: rotate(180deg);
  margin-right: 4px;
  color: var(--LightA-color, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.StopListCityTableOneCity{
  padding-left: 10px;
  width: 100%;
}


.ThCityName{
  width: 15%;
  text-align: start;
}

.ThCityStreet{
  width: 15%;
  text-align: start;
}

.ThCityDelivery{
  width: 5%;
  text-align: start;
}

.ThCityTakeaway{
  width: 5%;
  text-align: start;
}

.ThButtonReset{
  width: 3%;
  text-align: start;
}

.ThCityCondition{
  width: 17%;
  text-align: start;
}

.ThCityStopList{
  width: 40%;
  text-align: start;
}

.SavedOrdDiv{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.SavedBodyDiv{
  width: 96.5vw;    
  height: 99%;
  background-color: var(--mainB-color, rgb(243, 247, 250));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;     
}


.LastWindowMainDiv{
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.LastWindowContent{
  display: flex;
  position: absolute;
  top: 40%;
  box-shadow: 0px 0px 5px 0px black;
  padding: 10px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--ColorWindowSaleSum, rgb(243, 247, 250)); 
  width: 250px;
  height: 80px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
  border: 1px solid;
  border-color: black;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.LastWindowButtonsDiv{
  width: 100%;
  display: flex;
  align-self: end;
  justify-content: space-between;
}


.LastWindowButtonCancel{
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  box-shadow: 0px 0px 3px 0px black;
  border: none; 
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.LastWindowButtonCancel:hover{
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.LastWindowButtonSave{
  cursor: pointer;
  border-radius: 5px;
  color: var(--mainText-color, rgb(224, 231, 235));
  background-color: var(--LightA-color, rgb(3, 168, 245));
  box-shadow: 0px 0px 3px 0px black;
  border: none;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.LastWindowButtonSave:hover{
  background-color: var(--mainA-color, rgb(3, 158, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.MarkDelivery{
  width: 65px;
  margin-left: 10px;
  text-align: center;
  font-size: 10pt;
  color: var(--ColorMarkYa, rgb(3, 168, 245));
  border: 1px solid var(--ColorMarkYa, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.MarkTakeaway{
  width: 50px;
  margin-left: 10px;
  text-align: center;
  font-size: 10pt;
  color: var(--ColorMarkYa, rgb(3, 168, 245));
  border: 1px solid var(--ColorMarkYa, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.MarkYF{
  width: 20px;
  margin-left: 10px;
  text-align: center;
  font-size: 10pt;
  color: var(--ColorMarkYa, rgb(3, 168, 245));
  border: 1px solid var(--ColorMarkYa, rgb(3, 168, 245));
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrderHead{
  display: flex;
  color: var(--Text2-Color, black);
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  padding: 5px;
  box-shadow: 0px 0px 2px 0px black;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;

}

.SavedOrderBody{
  display: flex;
  align-items: stretch;
  color: var(--Text2-Color, black);
  border: 1px solid black;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrderCity{
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 150px;
  height: auto;
  border-right: 1px solid black;
}

.SavedOrderPositions{
  font-size: 10pt;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SavedOrderPositionsTable{
  height: 15px;
}

.SavedOrderPositionsTbName{
  text-align: start;
  width: 200px;
}

.SavedOrderPositionsTbNum{
  text-align: end;
  width: 30px;
}

.SavedOrderPositionsTbPrice{
  text-align: end;
  width: 70px;
}

.SavedPosGroup{
  margin-bottom: 3px;
}

.SavedOrderTotalSum{
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.SaveOrderSale{
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: auto;
  border-right: 1px solid black;
}

.SavedOrderCityName{
  text-align: center;
}

.SavedOrderCityStreet{
  text-align: center;
  font-size: 8pt;
}

.SavedOrdDivStatus{
  cursor: pointer;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 70px;
  height: auto;
  border-right: 1px solid black;
}

.SavedOrdDivStatus.New{
  background-color: var(--ColorStatusNewOrderSaved, #ff00004f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Processing{
  background-color: var(--ColorStatusProcessingOrderSaved, #ff00994f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.NotProcessing{
  background-color: var(--ColorStatusNotProcessingOrderSaved, #4545454f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Timeout{
  background-color: var(--ColorStatusTimeoutOrderSaved, #6038ff4f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Cooking{
  background-color: var(--ColorStatusCookingOrderSaved, #38f2ff4f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Cooked{
  background-color: var(--ColorStatusCookedOrderSaved, #3bff384f);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Delivery{
  background-color: var(--ColorStatusDeliveryOrderSaved, #fcff384f);
  color: black;
}

.SavedOrdDivStatus.Completed{
  background-color: var(--ColorStatusCompletedOrderSaved, #53ff3817);
  color: var(--Text2-Color, black);
}

.SavedOrdDivStatus.Cancelled{
  background-color: var(--ColorStatusCancelledOrderSaved, #21212188);
  color: var(--ColorStatusCancelledOrderSavedText, rgb(243, 247, 250));
}

.SavedOrdStatusIconDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrdStatusIcon{
  width: 30px;
  height: 30px;
}

.SavedOrdStatusText{
  padding-top: 5px;
  text-align: center;
  font-size: 8pt;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ContainerStatusOrdMainDiv{
  position: absolute;
  left: 7.3%;
  background-color: var(--ColorWindowSaleSum, rgb(224, 231, 235)); 
  width: 630px;
  color: var(--Text2-Color, black);
  z-index: 2;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
  box-shadow: 0px 0px 3px 0px black;
}

.ContainerStatusGlobalDiv{
  display: flex;
}

.ContainerStatusOneStatusDiv{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ContainerStatusName{
  font-size: 8pt;
}

.ContainerStatusOneStatusDiv.New:hover{
  background-color: var(--ColorStatusNewOrderSaved, #ff00004f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Processing:hover{
  background-color: var(--ColorStatusProcessingOrderSaved, #ff00994f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.NotProcessing:hover{
  background-color: var(--ColorStatusNotProcessingOrderSaved, #4545454f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Timeout:hover{
  background-color: var(--ColorStatusTimeoutOrderSaved, #6038ff4f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Cooking:hover{
  background-color: var(--ColorStatusCookingOrderSaved, #38f2ff4f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Cooked:hover{
  background-color: var(--ColorStatusCookedOrderSaved, #3bff384f);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Delivery:hover{
  background-color: var(--ColorStatusDeliveryOrderSaved, #fcff384f);
  color: black;
}

.ContainerStatusOneStatusDiv.Completed:hover{
  background-color: var(--ColorStatusCompletedOrderSaved, #53ff3817);
  color: var(--Text2-Color, black);
}

.ContainerStatusOneStatusDiv.Cancelled:hover{
  background-color: var(--ColorStatusCancelledOrderSaved, #21212188);
  color: var(--ColorStatusCancelledOrderSavedText, rgb(243, 247, 250));
}

.SavedOrdStatusIcon.NotProcessing{
  transform: rotate(90deg);
}

.SavedOrdStatusIconLine.NotProcessing{
  transform: rotate(45deg);
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--Text2-Color, black);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.ContainerStatusIconMainNotProcessing{
  display: flex;
}

.ContainerStatusIcon.NotProcessing{
  transform: rotate(90deg);
}


.SavedOrderAddress{
  font-size: 10pt;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 950px;
  height: auto;
  border-right: 1px solid black;
}

.SavedOrderAddressTableDiv{
  display: table;
}

.SavedOrderPhoneNum{
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100px;
  height: auto;
  border-right: 1px solid black;
}

.SavedOrdDeletedWindowMainDiv{
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrdDeletedWindowContent{
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px black;
  padding: 10px;
  border-radius: 10px;
  color: var(--Text2-Color, black);
  background-color: var(--ColorWindowSaleSum, rgb(243, 247, 250)); 
  width: 200px;
  height: 30px;
  transition: background-color var(--TimeChange1, 0.2s) ease-in-out, color var(--TimeChange1, 0.2s) ease-in-out;
  border: 1px solid;
  border-color: black;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.DelteSavedOrdIconDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: auto;
}

.DelteSavedOrdIcon{
  cursor: pointer;
  color: var(--ColorStatusNewOrderSaved, #ff00004f);
  width: 30px;
  height: 30px;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.DelteSavedOrdIcon:hover{
  color: var(--SavedOrdDeletedWindowButtonDeleteColorHover, #ff000073);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrdDeletedWindowButtonCancel{
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--HeadOrderColor, rgb(224, 231, 235));
  color: var(--Text2-Color, black);
  box-shadow: 0px 0px 3px 0px black;
  border: none;
  transition: all var(--TimeChange1, 0.2s) ease-in-out; 
}

.SavedOrdDeletedWindowButtonCancel:hover{
  background-color: var(--SavedOrdDeletedWindowButtonCancelColorHover, #cbd2d6);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrdDeletedWindowButtonDelete{
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--ColorStatusNewOrderSaved, #ff00004f);
  color: var(--Text2-Color, black);
  box-shadow: 0px 0px 3px 0px black;
  border: none;
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}

.SavedOrdDeletedWindowButtonDelete:hover{
  background-color: var(--SavedOrdDeletedWindowButtonDeleteColorHover, #ff000073);
  transition: all var(--TimeChange1, 0.2s) ease-in-out;
}