@media (min-width: 2200px){
    .StatisticsClientIcon{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .TimeSaveTextOnStatisticsClient{
        font-size: 16pt;
    }

    .DateSaveAndNumberTextOnStatisticsClient{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 14pt;
    }

    .MarkDelivery{
        font-size: 11pt;
    }

    .MarkTakeaway{
        font-size: 11pt;
    }

    .MarkYF{
        font-size: 11pt;
    }

    .StatisticsClientOrderPositionsTable{
        height: 25px;
    }

    .StatisticsClientOrderPositionsTbName{
        font-size: 12pt;
    }

    .StatisticsClientOrderPositionsTbNum{
        font-size: 12pt;
    }

    .StatisticsClientOrderPositionsTbPrice{
        font-size: 12pt;
    }

    .StatisticsClientOrderTotalSum{
        font-size: 11pt;
    }

    .StatisticsClientOrderSale{
        font-size: 11pt;
    }

    .StatisticsClientOrderCity{
        font-size: 11pt;
    }

    .StatisticsClientOrderAddress{
        font-size: 11pt;
    }

    .StatisticsClientOrderPhoneNum{
        font-size: 12pt;
    }

    .SavedOrdStatusText{
        font-size: 11pt;
    }

    .SavedOrdStatusIcon{
        width: 35px;
        height: 35px;
    }

    .SavedOrdDivStatus{
        font-size: 14pt;
        width: 90px;
        min-width: 90px;
    }

    .MarkButtonOnSaveOrder{
        font-size: 10pt;
        margin-top: 10px;
        margin-right: 15px;
        height: 30px;
    }
      

    .StopAlertMainDiv{
        margin-bottom: 15px;
        padding: 15px;
        width: 300px;
        height: 30px;
    }

    .StopSauceSumLimitContent{
        font-size: 12pt;
    }
      
    .AlertLastWindowStopPos{
        font-size: 13pt;
    }

    .IconStopCat{
        height: 25px;
        width: 25px;
    }
      
    .IconStopPosition{
        height: 25px;
        width: 25px;
    }

    .MainDiv{
        margin-left: 70px;
    }

    .MainDivStopList{
        margin-left: 70px;
    }

    .MainPosition {
        width: 36vw;
    }

    .SavedOrdersMainDiv{
        margin-left: 70px;
        width: 96vw;  
    }

    .SavedHeadDivSearchIcon{
        height: 23px;
        width: 23px;
      }

    .SavedBodyDiv{
        width: 96vw;    
      }

    .OrderTitName{
        font-size: 14pt;
    }

    .OrderTitNum{
        font-size: 14pt;
    }

    .OrderTitPrice{
        font-size: 14pt;
    }

    .OrderTitSum{
        font-size: 14pt;
    }
    
    .OrdPosName{
        font-size: 14pt;
    }

    .OrdPosInp{
        font-size: 11pt;
    }

    .OrdPosPrice{
        font-size: 14pt;
    }

    .OrdPosSum{
        font-size: 14pt;
    }

    .OrdButtonEditMinus{
        width: 23px;
        height: 20px;
        font-size: 12pt;
    }

    .OrdButtonEditPlus{
        width: 23px;
        height: 20px;
        font-size: 12pt;
    }

    .OrdPosSouse{
        font-size: 10pt;
    }

    .OpenAdditions{
        width: 18px;
        height: 18px;
        font-size: 12pt;
    }

    .OrdTablewaresName{
        font-size: 14pt;
    }

    .OrdTablewaresNum{
        font-size: 14pt;
    }

    .OrdTablewaresPrice {
        font-size: 14pt;
    }
      
    .OrdTablewaresSum {
        font-size: 14pt;
    }

    .TotalSumOrder{
        font-size: 14pt;
    }

    .TotalSoyOrder{
        font-size: 12pt;
    }

    .OrdDownPanel{
        height: 100px;
    }

    .OrderOrder{
        height: calc(98vh - 130px);
    }

    .TotalSumOrderDownPanel{
        font-size: 14pt;
    }

    .DownPanelButtonLeftSale{
        width: 60px;
        height: 40px;
    }
    
    .DownPanelButtonLeft{
        width: 60px;
        height: 40px;
    }

    .DownPanelButtonRightDelete{
        width: 60px;
        height: 40px;
    }

    .DownPanelButtonRightSave{
        font-size: 14pt;
        width: 150px;
        height: 40px;
    }

    .CityText{
        font-size: 14pt;
    }

    .CityNameTextMain{
        font-size: 14pt;
    }

    .CityNameTextStreet{
        font-size: 13pt;
    }
    
    .CitySelector{
        font-size: 13pt;
    }

    .SearchingCityOnNewOrderIcon{
        height: 25px;
        width: 25px;
    }

    .SearchingCityOnNewOrderInput{
        font-size: 13pt;
    }

    .CitySelectorResSearch{
        font-size: 13pt;
    }

    .TimeCityText{
        font-size: 13pt;
    }

    .TimeCityVal{
        font-size: 13pt;
    }

    .ButtonAddTimeDelivery30{
        font-size: 10pt;
    }

    .ButtonAddTimeDelivery60{
        font-size: 10pt;
    }

    .PizzaChangeDiamOnOrderButton30{
        width: 45px;
        font-size: 11pt;
    }

    .PizzaChangeDiamOnOrderButton36{
        width: 45px;
        font-size: 11pt;
    }

    .ChangerOrderTypeTdText{
        font-size: 13pt;
    }

    .ChangerOrderTypeTdButtonDelivery{
        height: 40px;
        width: 90px;
        font-size: 12pt;
    }

    .ChangerOrderTypeTdButtonTakeaway{
        height: 40px;
        width: 90px;
        font-size: 12pt;
    }

    .AddressDetalText{
        font-size: 13pt;
    }

    .AddressDetalInp{
        font-size: 13pt;
    }

    .AddressDetalInp.Comment{
        font-size: 13pt;
    }

    .AddressDetalOb{
        min-height: 295px;
        max-height: 295px;
    }

    .CertificateText{
        font-size: 13pt;
    }

    .CertificateInput{
        font-size: 13pt;
    }

    .CertificateButton{
        font-size: 13pt;
    }

    .PreOrderDiv{
        font-size: 13pt;
    }

    .PreOrderInput{
        font-size: 13pt;
    }

    .MarkButton{
        margin-top: 15px;
        font-size: 13pt;
        height: 30px;
        width: 120px;
    }

    .CatButton {    
        margin-top: 10px;
        width: 100%;
        min-width: 90px;
        height: 60px;
        font-size: 13pt;
    }

    .titleText{
        font-size: 14pt;
    }

    .SearchOnPositionInput{
        font-size: 12pt;
    }

    .SearchOnPositionIcon{
        width: 21px;
        height: 21px;
    }

    .PosButtonsclass {
        margin-top: 15px;
        margin-left: 15px;
        width: 160px;
        height: 60px;
        font-size: 12pt;  
    }

    .PosButtonsclassPizza{
        margin-top: 15px;
        margin-left: 15px;
        width: 160px;
        height: 60px;
        font-size: 12pt;  
    }

    .PosButtonsclassPizzaChangeDiamDiv{
        bottom: 4px;
        margin-left: 12px;
        width: 160px;
        height: 30px;
    }

    .PosButtonsclassPizzaChangeDiam36{
        width: 80px;
        height: 30px;
        font-size: 12pt;
    }

    .PosButtonsclassPizzaChangeDiam30{
        width: 80px;
        height: 30px;
        font-size: 12pt;
    }

    .ResSearchOnPositionContainer{
        left: 27px;
    }

    .ResSearchOnPosition{
        font-size: 12pt;
    }
     
    .PopupTablewareContainer{
        bottom: 435px;
        left: 5px;
    }

    .PopupSALESContainer{
        bottom: 282px;
    }

    .PopupSALES{
        max-width: 60px;
    }

    .SaleButton{
        width: 55px;
        height: 40px;
        font-size: 11pt;
    }

    .LastWindowContent{
        padding: 15px;
        width: 500px;
        height: 500px;
        top: 20%;
    }

    .LastWindowSumText{
        font-size: 14pt;
    }

    .LastWindowChangeText{
        font-size: 14pt;
    }

    .LastWindowInput{
        font-size: 13pt;
        width: 400px;
        margin-left: 10px; 
    }

    .LastWindowPaymentButtonsMainDiv{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 90px;
        max-height: 250px;
    }

    .LastWindowButtonPayment{
        margin-top: 15px;
        width: 200px;
        font-size: 13pt;    
        height: 45px;
    }

    .ButtonsCancelAndSaveDiv{
        height: 190px;
    }

    .LastWindowButtonCancel{
        width: 200px;
        font-size: 13pt;    
        height: 45px;
    }

    .LastWindowButtonSave{
        width: 200px;
        font-size: 13pt;    
        height: 45px;
    }

    .MenuLeftPanel{
        width: calc(var(--WidhtMainMenu, 50px) + 20px) ;
    }
      
    .TextOpenMenuMenu{
        font-size: 16pt;
    }

    .IconOpenMenu{
        width: 50px;
        height: 50px;
    }

    .TextNewOrderMenu{
        font-size: 16pt;
    }

    .IconNewOrder{
        width: 50px;
        height: 50px;
    }

    .TextSavedOrdersMenu{
        font-size: 16pt;
    }

    .IconSavedOrders{
        width: 50px;
        height: 50px;
    }

    .TextStopListMenu{
        font-size: 16pt;
    }

    .IconStopList{
        width: 50px;
        height: 50px;
    }

    .TextChangeThemeMenu{
        font-size: 16pt;
    }

    .IconSun{
        width: 50px;
        height: 50px;
    }

    .ButtonsMenu{
        margin-left: 10px;
        margin-right: 10px;
    }

    .TimeSaveTextOnSavedOrd{
        font-size: 16pt;
    }

    .DateSaveAndNumberTextOnSavedOrd{
        font-size: 14pt;
        margin-top: 2px;
    }

    .SavedOrderPositions{
        min-width: 260px;
        width: 18vw;
        font-size: 13pt;
    }

    .SavedOrderPositionsTbName{
        font-size: 13pt;
    }

    .SavedOrderPositionsTbNum{
        font-size: 13pt;
    }

    .SavedOrderPositionsTbPrice{
        width: 100px;
        min-width: 100px;
        font-size: 13pt;
    }

    .SavedOrderTotalSum{
        font-size: 13pt;
        width: 4.5vw;
    }

    .SaveOrderSale{
        font-size: 13pt;
        width: 4.5vw;
    }

    
    .SavedOrderCity{
        font-size: 13pt;
        width: 8.8vw;
        min-width: 100px;
    }

    .SavedOrderCityStreet{
        font-size: 11pt;
    }

    .SavedOrderAddress{
        font-size: 12pt;
    }

    .MaxTimeOnSavedOrderText{
        font-size: 11pt;
    }

    .MaxTimeOnSavedOrderTime{
        font-size: 13pt;
    }

    .SavedOrderPhoneNum{
        font-size: 12pt;
    }

    .UsedOrdStatusIcon{
        width: 25px;
        height: 25px;
      }

    .ContainerStatusOrdMainDiv{
        width: 850px;
    }

    .ContainerStatusOneStatusDiv{
        width: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .ContainerStatusIcon{
        width: 30px;
        height: 30px;
    }

    .ContainerStatusName{
        font-size: 12pt;
    }

    .SavedHeadDiv{
        margin-top: 10px;
    }

    .SavedHeadDiv.Status{
        font-size: 13pt;
        width: 140px;
    }

    .SavedHeadDiv.Date{
        font-size: 13pt;
        width: 180px;
    }

    .ContainerDateWindowSearchGlobalDiv{
        top: 119px;
        left: 166px;
        width: 184px;
    }

    .SavedHeadDivStatusAndDate{
        width: calc(18vw + 90px);
    }

    .SavedHeadDiv.Sum{
        font-size: 13pt;
        width: 4.35vw;
    }

    .SavedHeadDiv.Sale{
        font-size: 13pt;
        width: 4.35vw;
    }

    .SavedHeadDiv.Branch{
        font-size: 13pt;
        width: calc(11vw - 5px);
        max-height: 40px;
    }

    .CityOrdHeadGlobalDiv{
        width: 11vw;
    }

    .ContainerCityName{
        font-size: 12pt;
        height: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .BranchText{
        font-size: 10pt;
    }

    .SavedHeadDivIcon{
        margin-top: 5px;
    }

    .SavedHeadDivSearchCityIcon{
        width: 25px;
        height: 25px;
    }

    .SavedHeadDivSearchIcon{
        width: 25px;
        height: 25px;
    }

    .StatusOrdHeadGlobalDiv{ 
        top: 50px;
        left: 89px;
        width: 146px;
    }

    .ContainerStatusOneStatusHeadDiv{
        width: 146px;
        height: 35px;
    }

    .DateOrdHeadGlobalDiv{
        top: 50px;
        left: 246px;
        width: 185px;
    }

    .ContainerDateName{
        width: 175px;
        height: 35px;
    }

    .SavedHeadDivSearchCityInput{
        font-size: 14pt;
        width: 200px;
    }

    .WindowPeriodContent{
        top: 25%;
        padding: 20px;
        width: 350px;
        height: 150px;
    }

    .WindowPeriodInputMinDiv{
        font-size: 16pt;
    }

    .WindowPeriodInputMin{
        width: 200px;
        font-size: 15pt;
    }
      
    .WindowPeriodInputMaxDiv{
        font-size: 16pt;
    }

    .WindowPeriodInputMax{
        width: 200px;
        font-size: 15pt;
    }

    .WindowPeriodButtonCancel{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }

    .WindowPeriodButtonSave{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }
      
    .WindowSearchContent{
        top: 25%;
        padding: 20px;
        width: 350px;
        height: 200px;
    }

    .WindowSearchMainText{
        font-size: 16pt;
    }

    .WindowSearchInputText{
        font-size: 16pt;
    }

    .WindowSearchInput {
        font-size: 15pt;
        width: 200px;
    }

    .WindowSearchDateDiv{
        font-size: 15pt;
        width: 202px;
    }

    .WindowSearchDateDivText{
        font-size: 15pt;
    }

    .WindowSearchButtonCancel{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }

    .WindowSearchButtonSearch{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }

    .SavedOrdDeletedWindowContent{
        top: 35%;
        padding: 15px; 
        width: 350px;
        height: 50px;
    }

    .SavedOrdDeletedWindowButtonCancel{
        font-size: 15pt;
        width: 120px;
    }

    .SavedOrdDeletedWindowButtonDelete{
        font-size: 15pt;
        width: 120px;
    }

    .ThCityName{
        font-size: 15pt;
    }

    .ThCityStreet{
        font-size: 15pt;
    }

    .ThCityDelivery{
        font-size: 15pt;
    }

    .ThCityTakeaway{
        font-size: 15pt;
    }

    .ButtonResetTimeOneCity{
        width: 39px;
        height: 25px;
    }

    .ThCityCondition{
        font-size: 15pt;
    }

    .CityConditionMainDiv{
        font-size: 15pt;
    }

    .ThCityStopList{
        font-size: 15pt;
    }
    
    .InputStopListCity{
        font-size: 15pt;
    }

    .InputStopListCityIcon{
        right: 23px;
        top: 4px;
    }

    .ButtonCatNameStop{
        font-size: 15pt;
    }

    .StopListPositionNameText{
        font-size: 14pt;
    }
    
    .StopListCityTableDiv{
        height: 40px;
    }

    .CheckBoxStopCat{
        width: 16px;
        height: 16px;
    }

    .ThCityStopListClearButton{
        width: 20vw;
    }

    .StopListClearButton{
        height: 28px;
    }

    .StopListClearButton{
        font-size: 15pt;
    }

    .PreHeadMainDiv{
        height: 40px;
    }

    .PreHeadSearchInput{
        margin-left: 10px;
        font-size: 15pt;
        width: 250px;
    }
    
    .PreHeadSearchIcon{
        width: 25px;
        height: 25px;
    }

    .ButtonOpenClearTime{
        margin-right: 15px;
        font-size: 15pt;
        height: 30px;
        width: 250px;
    }

    .ButtonOpenClearTime.Active{
        background-color: var(--ColorMarkYa, #03a8f5);
        color: var(--mainText-color, rgb(243, 247, 250));
        box-shadow: 0px 0px 5px 0px black;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        top: 35px;
    }

    .ButtonsClearTimeMainDiv{
        top: 35px;
        width: 250px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .ButtonClearTime{
        font-size: 15pt;
        height: 35px;
        width: 250px;
    }

    
    .ResSearchCityStopListMainDiv{
        top: 42px;
        left: 118px;
        width: 255px;
        font-size: 15pt;
        max-height: 360px;
    }

    .PageDiv{
        height: 100px;
    }

    .TableCitiesStopList{
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(98vh - 176px);
    }

    .PageButtonDivText{
        font-size: 14pt;
    }

    .TextEndPageDiv{
        font-size: 14pt;
    }

    .PageButtonDiv{
        margin-left: 15px;
    }
      
    .PageButton{
        font-size: 15pt;
        height: 30px;
        width: 30px;
    }

    .StepChangerDiv{
        width: 60px;
        height: 100%;
        font-size: 15pt;
        margin-right: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding: 5px;
    }

    .DropDownStepChangerMainDiv{
        width: 71px;
        max-height: 250px;
    }

    .DropDownStepChangerContainer{
        left: 71px;
        bottom: 128px;
    }

        
    .ContainerStepsName{
        font-size: 15pt;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .WindowClearStopListContent{
        top: 30%;
        padding: 10px;
        width: 350px;
        height: 150px;
        font-size: 16pt;
    }

    .WindowClearButtonCancel{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }

    .WindowClearButtonOK{
        font-size: 15pt;
        height: 35px;
        width: 140px;
    }

    .AdditionMainDiv{
        margin-left: 10px;
        max-width: 26vw;
        padding: 15px;
    }

    .ButtonsAdditionGlobalDiv{
        font-size: 15pt;
    }

    .ButtonAddition {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13pt;
        width: 130px;
        height: 40px;
    }

    .OrdSost{
        padding: 10px;
        font-size: 11pt;
    }
      
      
}

@media(min-width: 2400px){
    .SavedHeadDivStatusAndDate{
        width: calc(18vw + 95px);
    }
}

@media (max-width: 1875px) {
    .CertificateButton{
        font-size: 8pt;
    }

    .CertificateInput{
        margin-right: 5px;
    }

}


@media (max-width: 1680px) {
    .CertificateInput{
        width: 8vw;
    }

    .MainPosition {
        width: 35.5vw;
    }

}

@media (max-width: 1605px) {
    .CertificateInput{
        width: 7vw;
    }

    .MainDiv{
        gap: 5px
    }

    .MainCategAndPosition{
        gap: 5px
    }

    .ButtonAddTimeDelivery30{
        font-size: 6pt;
    }

    .ButtonAddTimeDelivery60{
        font-size: 6pt;
    }

    .UsedStatusDropDownMainContent{
        width: 10vw;
    }
}


@media (max-width: 1475px) {
    .CertificateInput{
        width: 6vw;
    }

}

@media (max-width: 1440px){
    .DateOrdHeadGlobalDiv{
        top: 37px;
        left: 191px;
    }

    .StatusOrdHeadGlobalDiv{
        left: 64px;
    }

    .StopListOnCityUpdate{
        width: calc(15.76vw - 6px);
    }

    .MainDivStopList{
        font-size: 10pt;
    }

    .ButtonCatNameStop{
        font-size: 10pt;
    }

    .StopListPositionName{
        font-size: 9pt;
    }

    .StopListCity{
        height: 40px;
    }

    .ThCityName{
        font-size: 10pt;
    }

    .ThCityStreet{
        font-size: 10pt;
    }

    .TimeDeliveryStopListMain{
        width: 2.8vw;
    }

    .TimeDeliverySelector{
        width: calc(2.8vw + 1px);
        margin-left: 1px;
        font-size: 10pt;
    }

    .TimeTakeawaySelector{
        width: calc(2.8vw + 1px);
        margin-left: 1px;
        font-size: 10pt;
    }

    .TimeTakeAwayStopListMain{
        width: 2.8vw;
    }

    .TimeDeliveryStopList{
        font-size: 10pt;
    }

    .TimeDeliveryStopListIcon{
        width: 13px;
        height: 13px;
    }

    .TimeeTakeAwayStopList{
        font-size: 10pt;
    }

    .TimeeTakeAwayStopListIcon{
        width: 13px;
        height: 13px;
    }

    .ConditionStopListText{
        font-size: 10pt;
    }

    .ConditionStopListCity{
        font-size: 10pt;
    }

    .InputStopListCity{
        font-size: 10pt;
        height: 14px;
    }

    .ButtonResetTimeOneCity{
        width: 20px;
        height: 15px;
    }

    .MainCateg {
        padding-left: 5px;
        padding-right: 5px;
    }

    .TimeDeliveryDivButtons{
        margin-left: 5px;
    }
    
    .ButtonAddTimeDelivery30{
        font-size: 5pt;
    }

    .ButtonAddTimeDelivery60{
        font-size: 5pt;
    }

    .City{
        font-size: 8pt;
    }

    .CityNameTextStreet{
        font-size: 8pt;
      }
      
    .CityNameTextMain{
        font-size: 8pt;
      }

    .SearchingCityOnNewOrderIcon{
        height: 15px;
        width: 17px;
    }

    .TimeCityText{
        font-size: 9pt;
    }
      
    .TimeCityVal{
        font-size: 9pt;
    }

    .ChangerOrderTypeTdText{
        font-size: 9pt;
    }

    .ChangerOrderTypeTdButtonDelivery{
        font-size: 8pt;
        height: 25px;
        width: 55px;
    }

    .ChangerOrderTypeTdButtonTakeaway{
        font-size: 8pt;
        height: 25px;
        width: 55px;
    }

    .AddressDetalText {
        font-size: 9pt;
    }

    .AddressDetalInp{
        font-size: 9pt;
    }

    .CertificateText{
        font-size: 9pt;
    }

    .CertificateButton{
        font-size: 8pt;
    }

    .CertificateInput{
        font-size: 8pt;
    }

    .PreOrderDiv{
        font-size: 9pt;
    }

    .PreOrderInput{
        font-size: 8pt;
    }

    .MarkButton{
        font-size: 9pt;
        height: 15px;
        width: 80px;
    }

    .SearchingCityOnNewOrderInput{
        font-size: 9pt;
    }

    .CitySelectorResSearch{
        font-size: 9pt;
    }

    .StatisticsClientOrderPositions{
        width: 13vw;
      }

    .StatisticsClientOrderPositionsTbName{
        width: 8vw;
      }
    
    .StatisticsClientOrderPhoneNum{
        font-size: 9pt;
    }

    .CityConditionMainDiv{
        max-height: 16px;
    }

    .SavedOrderPositions{
        padding: 5px;
    }

    .SavedHeadDivStatusAndDate{
        padding-left: 5px;
    }

    .SavedHeadDiv.Search{
        margin-right: 10px;
    }
    .UsedStatusDropDownMainContent{
        width: 10vw;
    }
}

@media(max-width: 1380px){
    .SearchingCityOnNewOrderIcon{
        height: 15px;
        width: 15px;
    }

    .CityName{
        margin-right: 3px;
        width: 11vw;
    }

    .CitySelector{
        width: 11vw;
    }

    .TimeCityText{
        width: 11vw;
    }

}

@media(max-width: 1290px){
    .ConditionStopListText{
        font-size: 8pt;
    }
    .UsedStatusDropDownMainContent{
        font-size: 8pt;
    }
}

@media (max-width: 1280px){
    
    .StopListOnCityUpdate{
        width: calc(15.76vw - 7px);
    }

    .MainDivStopList{
        font-size: 9pt;
    }

    .AdditionMainDiv{
        max-width: 25vw;
    }
      

    .ChangerOrderTypeTdButtonDelivery{
        font-size: 6pt;
        height: 25px;
        width: 45px;
    }

    .ChangerOrderTypeTdButtonTakeaway{
        font-size: 6pt;
        height: 25px;
        width: 45px;
    }

    .StatisticsClientStatus{
        font-size: 8pt;
    }

    .StatisticsClientOrderPositions{
        padding: 5px;
        font-size: 7pt;
    }

    .StatisticsClientOrderTotalSum{
        font-size: 7pt;
    }

    .StatisticsClientOrderSale{
        font-size: 7pt;
    }

    .StatisticsClientOrderCity{
        font-size: 7pt;
    }

    .StatisticsClientOrderAddress{
        font-size: 7pt;
    }

    .StatisticsClientOrderPhoneNum{
        font-size: 8pt;
    }
    
    .StatisticsClientOrderPositionsTbName{
        min-width: 88px;
    }

    .PopupTablewareContainer{
        bottom: 325px;
    }
      
    .PopupTableware {
        font-size: 7pt;
        max-width: 75px;
        max-height: 290px;
    }

    .TablewaresButton{
        font-size: 10pt;
        height: 20px;
    }

    .ButtonOpenClearTime{
        height: 20px;
        font-size: 10pt;
        width: 100px;
      }

    .ButtonsClearTimeMainDiv{
        font-size: 10pt;
        width: 100px;
    }

    .ButtonClearTime{
        font-size: 8pt;
        width: 100px;
    }
}

@media (max-width: 1200px) {
    .MaxTimeOnSavedOrderText{
        font-size: 7pt;
    }
      
      .MaxTimeOnSavedOrderTime{
        font-size: 8pt;
        margin-top: 2.5px;
    }

    .DelteSavedOrdIconDiv{
        width: 30px;
    }
      
      .DelteSavedOrdIcon{
        width: 20px;
        height: 20px;
    }

    .SavedOrderPhoneNum{
        font-size: 8pt;
        padding: 2.5px;
        width: 70px;
    }

    .SavedOrderAddress{
        font-size: 8pt;
    }

    .SavedHeadDiv.Branch{
        font-size: 8pt;
    }

    .WindowStatisticsClientContentUp{
        font-size: 12pt;
    }

    .StopListOnCityUpdate{
        width: calc(15.76vw - 1px);
    }

    ::-webkit-scrollbar {
        width: 0.4em;
    }


    .ButtonCatNameStop{
        font-size: 9pt;
    }

    .StopListPositionNameText{
        padding-right: 5px;
        font-size: 8pt;
    }

    .CheckBoxStopCat{
        width: 10px;
        height: 10px;
    }

    .CheckBoxStopPosition{
        width: 10px;
        height: 10px;
    }

    .titleText{
        font-size: 8pt;
    }

    .switch {
        width: 30px;
        height: 18px;
      }
        
    .slider:before {
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 3px;    
    }
        
    input:checked + .slider:before {  
        transform: translateX(12px);
    }
        
        
    .slider.round {
        border-radius: 10px;
    }
        
    .slider.round:before {
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }

    .OrderTit{
        height: 20px;
    }

    .OrderTitTable{
        height: 20px;
      }

    .OrderOrder{
        height: calc(98vh - 70px);
    }


    .MainPosition {
        width: 32.5vw;
    }

    .OrdTB{
        font-size: 8pt;
    }

    .OrdPosName{
        font-size: 8pt;
    }

    .OrdPosPrice{
        font-size: 8pt;
    }

    .OrdPosSum{
        font-size: 8pt;
    }

    .OrdButtonEditMinus{
        width: 12px;
        height: 12px;
    }

    .OrdButtonEditPlus{
        width: 12px;
        height: 12px;
    }

    .OrdPosInp{
        width: 12px;
        font-size: 8pt;
    }

    .TotalSumOrder {
        margin-top: 5px;
        font-size: 8pt;
    }

    .TotalSoyOrder{
        font-size: 7pt;
        margin-left: 5px;
    }
    
    .OrdDownPanel{
        height: 50px;
    }


    .TotalSumOrderDownPanel{
        margin-top: 5px;
        font-size: 8pt;
    }

    .DownPanelButtonsLeft{
        margin-top: 5px;
    }

    .DownPanelButtonRight{
        margin-top: 5px;
    }

      
    .DownPanelButtonLeftSale{
        margin-left: 5px;
        width: 35px;
        height: 20px;
        border-radius: 5px;
        font-size: 8pt;
    }

    .DownPanelButtonLeft {
        margin-left: 5px;
        width: 35px;
        height: 20px;
        border-radius: 5px;
        font-size: 8pt;
    }

    .DownPanelButtonRightDelete {
        margin-right: 5px;
        width: 35px;
        height: 20px;
        border-radius: 5px;
        font-size: 8pt;
    }
      
    .DownPanelButtonRightSave {
        margin-right: 5px;
        width: 75px;
        height: 20px;
        border-radius: 5px;
        font-size: 8pt;
    }

    .AdditionMainDiv{
        font-size: 8pt;
    }

    .ButtonAddition {
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        margin-left: 2.5px;
        margin-right: 2.5px;
        border-radius: 5px;
        font-size: 6pt;
        width: 60px;
        height: 25px;
      }

    .CatButton{
        height: 35px;
        font-size: 9pt;
    }

    .PosButtonsclass{
        width: 100px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 8pt;
        height: 40px;
    }

    .PosButtonsclassPizza{
        width: 100px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 8pt;
        height: 40px;
    }

    .PosButtonsclassPizzaChangeDiamDiv{
        position: relative;
        bottom: 4px;
        margin-left: 2px;
        width: 100px;
        height: 20px;
      }

    .PosButtonsclassPizzaChangeDiam30{
        width: 50px;
        font-size: 8pt;
    }

    .PosButtonsclassPizzaChangeDiam36{
        width: 50px;
        font-size: 8pt;
    }

    .PizzaChangeDiamOnOrderTd{
        height: 20px;
        width: 50px;
    }

    .PizzaChangeDiamOnOrderButton36{
        width: 25px;
        font-size: 6pt;
    }

    .PizzaChangeDiamOnOrderButton30{
        width: 25px;
        font-size: 6pt;
    }

    .OrderTitName{
        font-size: 8pt;
    }

    .OrderTitNum{
        font-size: 8pt;
    }

    .OrderTitPrice{
        font-size: 8pt;
    }

    .OrderTitSum{
        font-size: 8pt;
    }

    .OpenAdditions {
        width: 12px;
        height: 12px;
        line-height: 12px;
        margin-left: 5px;
        font-size: 6pt;
        margin-top: 0px;
    }

    .MarkButton{
        margin-top: 8px;
    }

    .MarkButtonOnSaveOrder{
        font-size: 7pt;
        margin-top: 5px;
        margin-right: 5px;
        height: 15px;
        min-width: 50px;
    }
      
    .PopupTablewareContainer{
        bottom: 225px;
    }
      
    .PopupTableware {
        font-size: 7pt;
        max-width: 55px;
        max-height: 200px;
    }

    .TablewaresButton{
        font-size: 8pt;
        height: 15px;
        width: 30px;
    }

    .PopupSALESContainer{
        bottom: 178px;
        left: 0px;
      }
      
      .PopupSALES{
        font-size: 6pt;
        max-width: 50px;
        max-height: 200px;
      }

      .SaleButton{
        font-size: 8pt;
        width: 45px;
        height: 25px;
      }

      .StopListClearButton{
        height: 17px;
        font-size: 10pt;
      }
}

@media(max-width: 1130px){
    .SavedOrderAddress{
        font-size: 8pt;
        min-width: 125px;
    }
    .StopListOnCityUpdate{
        width: 15.76vw;
    }

    .MainPosition {
        width: 31vw;
    }

    .StopAlertMainDiv{
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
        width: 200px;
        height: 15px;
    }

    .StopSauceSumLimitContent{
        font-size: 6pt;
    }
      
    .AlertLastWindowStopPos{
        font-size: 7pt;
    }

    .IconStopCat{
        height: 15px;
        width: 15px;
    }
      
    .IconStopPosition{
        height: 15px;
        width: 15px;
    }

    .InputStopListCityIcon{
        right: 30px;
    }
}

@media (max-width: 1050px){
    .ContainerDateWindowSearchGlobalDiv{
        top: 89px;
        left: 115px;
        width: 114px;
    }

    .MenuLeftPanel{
        width: calc(var(--WidhtMainMenu, 50px) - 15px) ;
    }

    .ButtonsMenu{
        margin-right: 2.5px;
    }

    .SavedOrdersMainDiv{
        margin-left: 35px;
    }

    .MainDivStopList{
        margin-left: 35px;
        width: 99vw;   
    }

    

    .SavedOrderPositionsTbName{
        font-size: 8pt;
        min-width: 100px;
    }

    .SavedOrderPositionsTbNum{
        font-size: 8pt;
        width: 20px;
        min-width: 15px;
    }

    .SavedOrderPositionsTbPrice{
        font-size: 8pt;
        width: 50px;
        min-width: 50px;
    }

    .SavedOrderPositions{
        min-width: 170px;
        width: 17.13vw;
        font-size: 8pt;
        padding: 5px;
    }

    .SavedHeadDivStatusAndDate{
        width: calc(17.13vw + 70px);
        min-width: 235px;
    }

    .SavedHeadDiv.Status {
        font-size: 8pt;
        padding-left: 2.5px;
        width: 80px;
    }

    
    .StatusOrdHeadGlobalDiv{
        width: 82px;
        top: 35px;
        left: 49px;
    }

    .ContainerStatusOneStatusHeadDiv{
        font-size: 8pt;
        width: 82px;
    }

    .SavedHeadDiv.Date {
        margin-left: 5px;
        padding-left: 2.5px;
        font-size: 8pt;
        width: 110px;
    }

    .DateOrdHeadGlobalDiv{
        font-size: 8pt;
        top: 35px;
        left: 139px;
        width: 113px;
    }

    .ContainerDateName{
        width: 104px;
    }

    .StopListClearButton{
        height: 13px;
        font-size: 8pt;
    }

    .CatButton{
        font-size: 7pt;
        min-width: 55px;
    }

    .MainCateg{
        min-width: 60px;
    }
    
    .MainPosition {
        width: 32vw;
    }


    .OrdPosName{
        width: 12vw;
        font-size: 7pt;
    }

    .OrdPosPrice{
        font-size: 7pt;
    }

    .OrdPosSum{
        font-size: 7pt;
    }

    .OrderTitName{
        width: 12vw;
        font-size: 7pt;
    }

    .OrderTitNum{
        font-size: 7pt;
    }

    .OrderTitPrice{
        font-size: 7pt;
    }

    .OrderTitSum{
        font-size: 7pt;
    }

    .AddressDetalInp.Comment{
        min-width: 100px;
    }

    .PosButtonsclass{
        width: 80px;
        font-size: 7pt;
    }

    .PosButtonsclassPizza{
        width: 80px;
        font-size: 7pt;
    }

    .PosButtonsclassPizzaChangeDiamDiv{
        width: 80px;
        height: 20px;
      }

    .PosButtonsclassPizzaChangeDiam30{
        width: 40px;
        font-size: 6pt;
    }

    .PosButtonsclassPizzaChangeDiam36{
        width: 40px;
        font-size: 6pt;
    }

    .PizzaChangeDiamOnOrderTd{
        height: 20px;
        width: 40px;
    }
    
    .StatisticsClientOrderPhoneNum{
        font-size: 7pt;
    }

    .StatisticsClientOrderAddress{
        min-width: 215px;
    }

    .ThCityStreet{
        font-size: 8pt;
    }

    .TextOpenMenuMenu{
        font-size: 11pt;
    }

    .IconOpenMenu{
        width: 30px;
        height: 30px;
    }

    .TextNewOrderMenu{
        font-size: 11pt;
    }

    .IconNewOrder{
        width: 30px;
        height: 30px;
    }

    .TextSavedOrdersMenu{
        font-size: 11pt;
    }

    .IconSavedOrders{
        width: 30px;
        height: 30px;
    }

    .TextStopListMenu{
        font-size: 11pt;
    }

    .IconStopList{
        width: 30px;
        height: 30px;
    }

    .TextChangeThemeMenu{
        font-size: 11pt;
    }

    .IconSun{
        width: 30px;
        height: 30px;
    }

    .SavedHeadDiv.Search{
        margin-right: 5px;
    }

    .MainDiv{
        margin-left: 35px;
    }
}

@media (max-width: 995px){
    .MainCateg{
        width: 70px;
    }

    .StopListClearButton{
        line-height: 14px;
    }
}

@media(max-width: 955px){

    @keyframes Alert {
        from {
          top: 60px;
          right: -400px;
        }
        7%{
          top: 60px;
          right: 20px;
        }
        10% {
          top: 60px;
          right: 0px;
        }
        90% {
          top: 60px;
          right: 0px;
        }
        91% {
          top: 60px;
          right: 5px;
        }
        to {
          top: 60px;
          right: -400px
        }
      }

    .MainCategAndPosition{
        flex-direction: column;
    }


    ::-webkit-scrollbar {
        width: 0.4em;
        height: 0.9em;
      }


    .MainCateg {
        display: flex;
        width: calc(38vw - 5px);
        font-size: 6pt;
        min-width: 170px;
        height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
      
    .CatButton {   
        margin-left: 5px; 
        width: 60px;
        height: 100%;
    }

    .MainPosition {
        width: 38vw;
        min-width: 175px;
    }
    .UsedStatusDropDownMainContent{
        width: 11vw;
    }
}

@media(max-width: 855px){ 
    .UsedStatusDropDownMainContent{
        width: 13vw;
    }

    .ThCityTakeaway{
        width: 40px;
        min-width: 40px;
    }

    .ThCityDelivery{
        font-size: 7pt;
        width: 40px;
        min-width: 40px;
    }

    .MainDivStopList{
        font-size: 8pt;
    }

    .ThCityName{
        font-size: 8pt;
        width: 120px;
        min-width: 120px;
    }

    .ThCityStreet{
        font-size: 8pt;
        width: 120px;
        min-width: 120px;
    }

    .MainPosition {
        width: 31vw;
    }

    .MainCateg {
        width: calc(31vw - 5px);
    }

    .WindowStatisticsClientContent{
        padding: 5px;
    }

    .WindowStatisticsClientContentUp{
        font-size: 10pt;
    }
}

@media(max-width: 810px){
    .MarkButtonOnSaveOrder{
        font-size: 5pt;
        margin-top: 2.5px;
        margin-right: 2.5px;
        height: 10px;
        min-width: 30px;
    }
}

@media(max-width: 805px){
    .MainPosition {
        width: 28vw;
    }

    .MainCateg {
        width: calc(28vw - 5px);
    }

    .InputStopListCity{
        min-width: 130px;
        width: 130px;
    }

    .StopListOnCityUpdate {
        min-width: 134px;
        width: 134px;
      }

    .ThCityCondition{
        width: 110px;
        min-width: 110px;
      }

    .ThCityStopList{
        width: 140px;
        min-width: 135px;
      }

    .ClickedInputStopListCityDiv{
        width: 146px;
        min-width: 146px;
      }
      
    .StopListCatName{
        min-width: 134px;
        width: 134px;
    }

    .ButtonCatNameStop {
        font-size: 8pt;
    }

    .StopListPositionNameText{
        font-size: 7pt;
    }

    .ThCityDelivery{
        font-size: 7pt;
    }

    .ThCityTakeaway{
        font-size: 7pt;
    }
      
}

@media(max-width: 785px){
    .SavedOrderCity{
        padding: 5px;
        min-width: 75px;
    }

    .SavedOrderCityName{
        font-size: 8pt;
    }

    .SavedOrderCityStreet{
        font-size: 6pt;
    }

    .MaxTimeOnSavedOrderText{
        font-size: 6pt;
    }
}


@media(max-width: 775px){ 
    .UsedStatusDropDownMainContent{
        width: 14vw;
    }

    .MainPosition {
        width: 25vw;
    }

    .MainCateg {
        width: calc(25vw - 5px);
    }
}


@media(max-width: 750px){
    .UsedStatusDropDownMainContent{
        width: 15vw;
    }

    .MainCateg{
        width: 195px;
        min-width: 195px;
    }

    .MainPosition {
        width: 200px;
        min-width: 200px;
    }

    .MainDetal {
        width: 200px;
        min-width: 200px;
    }
    
    .AddressDetalText {
        font-size: 8pt;
    }

    .AddressDetalInp{
        width: 80px;
        min-width: 80px;
    }

    .AddressDetalInp.Comment{
        min-width: 100px;
    }

    .ThCityName{
        font-size: 7pt;
        width: 100px;
        min-width: 100px;
    }

    .StopListClearButton{
        font-size: 6pt;
        line-height: 13px;
    }
}

